@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: norse-bold;
    src: url(./assets/Norse-Bold.otf);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(247, 158, 210);
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background: no-repeat center url("./assets/baiken.jpeg");
    background-size: cover;
    margin: 0;
}

.left-cont {
    position: relative;
    height: 100vh;
    width: 40vw;
}

.logo-cont {
    position:absolute;
    top: 24rem;
    height: 8rem;
    width: 90%;
    background: black;
    opacity: 0.6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5%;
    font-family: norse-bold;
    font-size: 5rem;
}

.picture-credit {
    position: absolute;
    bottom: .5rem;
    font-family:'Roboto', sans-serif;
    font-size: .8rem;
    text-align: center;
    color: rgb(219, 219, 219);
    width: 100%;
}

.picture-credit > a {
    text-shadow: 1px 0px #7c7a7a;
}

.logo {
    height: 90%;
}

.right-cont{
    background-color: rgb(241, 241, 241);
    height: 100vh;
    width: 60vw;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: .05rem;
}

.body-text {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 12vw;
}

.form-cont {
    max-width: 60vw;
    height: auto;
    background-color: #ffffff;
    padding: 1rem 10vw 2rem 2rem;
}

.form-label {
    font-weight: bold;
    letter-spacing: .1em;
    margin: 0;
    margin-bottom: 1.5rem;
}

form {
    max-width: 50vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.input-cont {
    display: flex;
    flex-direction: column;
    width: 13rem;
    margin-right: 2rem;
}

div > label {
    font-size: .7rem;
    font-weight: 100;
    letter-spacing: .3em;
}

input {
    height: 1.5rem;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
}
